@use "./variables.scss";

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__wrapper {
  padding: 52px 18px 40px;

  @media (min-width: variables.$tablet-width) {
    padding: 55px 33px 28px 33px;
  }
}

.advantages__wrapper--second {
  padding: 37px 18px 34px;

  @media (min-width: variables.$tablet-width) {
    padding: 54px 31px 10px;
  }
}

.advantages__item {
  color: #eeeeee;
  background-color: #81b3d2;

  @media (min-width: variables.$tablet-width) {
    display: grid;
  }
}

.advantages__item--first {
  @media (min-width: variables.$tablet-width) {
    grid-column: 1/-1;
    grid-template-columns: 1fr 2fr;
  }
}

.advantages__item--second {
  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 2fr 1fr;
  }
}

.advantages__item--second picture {
  grid-row: 1;
}

.advantages__item--not-active {
  color: #000000;
  background-color: #eeeeee;
  padding: 25px 33px 23px;

  @media (min-width: variables.$tablet-width) {
    padding: 53px 33px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 69px 50px 41px;
  }
}

.advantages__item--road {
  @media (min-width: variables.$tablet-width) {
    padding: 43px 40px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 53px 40px;
  }
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 0 14px;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    margin: 0 0 12px;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
  }
}

.advantages__title br {
  @media (max-width: variables.$tablet-width) {
    display: none;
  }
}

.advantages__number {
  margin: 0 0 16px;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 23px;
  }
}

.advantages__number--road {
  @media (min-width: variables.$tablet-width) {
    margin-bottom: 17px;
  }
}

.advantages__discription {
  color: #333333;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    line-height: 21px;
  }
}

.advantages__discription--white {
  color: #ffffff;
}

.advantages__discription br {
  @media (max-width: variables.$tablet-width) {
    display: none;
  }
}

.advantages__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
