@use "./variables.scss";

.benefits-item {
  position: relative;
  padding-bottom: 34px;
  padding-left: 47px;
  text-align: left;

  @media (min-width: variables.$tablet-width) {
    width: 190px;
    padding: 0;
    padding-top: 158px;
    padding-bottom: 20px;
    text-align: center;
  }

  @media (min-width: variables.$desktop-width) {
    padding-top: 170px;
    width: 260px;
  }
}

.benefits-item .advantages__title {
  @media (min-width: variables.$tablet-width) {
    margin-bottom: 25px;
  }
}

.benefits-item:nth-child(2) {
  @media (min-width: variables.$desktop-width) {
    width: 300px;
  }
}

.benefits-item:nth-child(2) .advantages__title {
  @media (min-width: variables.$desktop-width) {
    margin-bottom: 23px;
  }
}

.benefits-item--house::before {
  content: "";
  position: absolute;
  background-image: url("../img/house.svg");
  background-repeat: repeat;
  background-size: 100%;
  width: 39px;
  height: 36px;
  top: -10px;
  left: 0;


  @media (min-width: variables.$tablet-width) {
    width: 77px;
    height: 75px;
    top: 58px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: variables.$desktop-width) {
    width: 79px;
    top: 65px;
  }
}

.benefits-item--food::before {
  content: "";
  position: absolute;
  background-image: url("../img/burger.svg");
  background-repeat: repeat;
  background-size: 100%;
  width: 40px;
  height: 40px;
  top: -10px;
  left: 0;

  @media (min-width: variables.$tablet-width) {
    width: 80px;
    height: 80px;
    top: 58px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: variables.$desktop-width) {
    width: 73px;
    height: 76px;
    top: 68px;
  }
}

.benefits-item--souvenir::before {
  content: "";
  position: absolute;
  background-image: url("../img/gift.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 38px;
  top: -7px;
  left: 4px;

  @media (min-width: variables.$tablet-width) {
    width: 67px;
    height: 80px;
    top: 58px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: variables.$desktop-width) {
    width: 78px;
    height: 75px;
    top: 68px;
    background-image: url("../img/icon-gift-big.svg");
  }
}
