@use "./variables.scss";

.body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  @media (min-width: variables.$desktop-width) {
    background-color: #e7e5e5;
  }
}


.body__wrapper {
  @media (min-width: variables.$desktop-width) {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
  }
}
