@use "./variables.scss";

@mixin card-title-margin {
  margin: 0;
  padding: 0;
}

.card {
  margin-block-start: 24px;
  margin-block-end: 25px;
  margin-inline-end: 20px;
  margin-inline-start: 20px;

  @media (min-width: variables.$tablet-width) {
    margin: 0;
  }

  @media (min-width: variables.$desktop-width) {
    position: relative;
  }
}

.card--first {
  grid-column: 1/-1;
}

.card__image {
  margin-bottom: 15px;
  display: block;

  @media (min-width: variables.$tablet-width) {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.card__text {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 22px 20px 4px;
  }

  @media (min-width: variables.$desktop-width) {
    color: #ffffff;
    padding: 4px 20px 6px 26px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(50, 50, 50, 0.5);
    bottom: 0;
  }
}

.card__text--first {
  @media (min-width: variables.$desktop-width) {
    padding: 4px 21px;
  }
}

.card__name {
  @media (min-width: variables.$desktop-width) {
    margin-top: 18px;
  }
}

.card__text--background {
  @media (min-width: variables.$tablet-width) and (max-width: variables.$desktop-width) {
    background-color: #eaeaea;
  }
}

.card__title {
  @include card-title-margin;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.card__discription {
  @include card-title-margin;

  color: #333333;
  margin-bottom: 12px;

  @media (min-width: variables.$desktop-width) {
    color: #ffffff;
  }
}

.card__like {
  @media (min-width: variables.$tablet-width) {
    padding-bottom: 16px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-bottom: 0;
  }
}

.card__button-like {
  padding-right: 10px;
  color: #000000;
  opacity: 0.3;
  text-decoration: none;
  cursor: pointer;

  @media (min-width: variables.$tablet-width) {
    padding-right: 3px;
  }

  @media (min-width: variables.$desktop-width) {
    color: #ffffff;
    opacity: 1;
  }
}

.card__meter {
  font-weight: 700;
  font-size: 15px;
}
