@use "./variables.scss";

@mixin card-title-margin {
  margin: 0;
  margin-bottom: 11px;
}

.card {
  margin-block-start: 24px;
  margin-block-end: 25px;
  margin-inline-end: 20px;
  margin-inline-start: 20px;

  @media (min-width: variables.$tablet-width) {
    margin: 0;
  }

  @media (min-width: variables.$desktop-width) {
    position: relative;
  }
}

.card--first {
  grid-column: 1/-1;
}

.card__image {
  margin-bottom: 15px;
  display: block;

  @media (min-width: variables.$tablet-width) {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.card__text {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 22px 20px 15px;
  }

  @media (min-width: variables.$desktop-width) {
    color: #ffffff;
    padding: 17px 27px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(50, 50, 50, 0.5);
    bottom: 0;
  }
}

.card__text--background {
  @media (min-width: variables.$tablet-width) and (max-width: variables.$desktop-width) {
    background-color: #eaeaea;
  }
}

.card__title {
  font-weight: 700;
  text-transform: uppercase;

  @include card-title-margin;
}

.card__discription {
  @include card-title-margin;
}

.card__button-like {
  padding-right: 14px;
  color: #000000;
  opacity: 0.3;
  text-decoration: none;
  cursor: pointer;

  @media (min-width: variables.$desktop-width) {
    color: #ffffff;
    opacity: 1;
  }
}
