@use "./variables.scss";

.feedback {
  padding: 24px 0;

  @media (min-width: variables.$tablet-width) {
    padding: 24px 0 73px 0;
  }

  @media (min-width: variables.$desktop-width) {
    padding-bottom: 74px;
  }
}
