.find-hotel {
  display: block;
  text-align: center;
  padding: 38px 18px 49px;
}

.find-hotel__title {
  margin: 0;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.find-hotel__discription {
  margin: 0;
  margin-bottom: 48px;
  text-transform: uppercase;
}

.find-hotel__button {
  color: #ffffff;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #81b3d2;
  padding: 16px 49px;
}
