@use "./variables.scss";

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 38px 18px 18px;
  align-items: center;

  @media (min-width: variables.$tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 38px 54px 52px 61px;
  }
}
