@use "./variables.scss";

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 28px 18px;

  @media (min-width: variables.$tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 48px 76px 45px 45px;
  }
}
