@use "./variables.scss";

@mixin form-margin-padding {
  margin: 0;
  padding: 0;
}

@mixin form-padding-20 {
  padding: 0 20px 0;
}

.form {
  position: relative;

  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
  text-align: center;

  &--emotions {
    margin-left: -39px;
  }

  @media (min-width: variables.$tablet-width) {
    font-size: 21px;
    margin-bottom: 40px;
    padding: 0 50px;
    background-color: #ffffff;

    &--name {
      margin-bottom: 12px;
      padding: 0 0 0 37px;
    }

    &--phone {
      padding: 6px 0 0;
      margin-left: -39px;
      margin-bottom: 12px;
    }

    &--feeling {
      margin-bottom: 12px;
      margin-top: -13px;
      width: 400px;
      margin-left: 39px;
    }

    &--places {
      margin-bottom: 14px;
      margin-top: -25px;
      margin-left: -10px;
      width: 400px;
    }

    &--emotions {
      margin-left: 123px;
      margin-bottom: 28px;
      margin-top: -19px;
      width: 400px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 55px;

    &--name {
      margin-bottom: 10px;
      padding-left: 58px;
    }

    &--phone {
      margin-left: -66px;
      margin-bottom: 9px;
    }

    &--feeling {
      margin-bottom: 31px;
      margin-left: 178px;
    }

    &--places {
      margin-bottom: 44px;
      margin-left: 186px;
    }

    &--emotions {
      margin-bottom: 28px;
      margin-top: -13px;
      margin-left: 332px;
    }
  }
}

.form__subtitle {
  position: relative;
  text-transform: uppercase;
  padding: 16px 16px 0 16px;

  &--phone::before {
    content: "";
    position: absolute;
    width: 58px;
    height: 58px;
    bottom: -58px;
    right: 0;
    background-color: #e6e6e6;
  }

  &--phone::after {
    content: "";
    position: absolute;
    background-image: url("../img/phone.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    top: 56px;
    right: 18px;
  }

  &--email::before {
    content: "";
    position: absolute;
    width: 58px;
    height: 58px;
    bottom: -58px;
    right: 0;
    background-color: #e6e6e6;
  }

  &--email::after {
    content: "";
    position: absolute;
    background-image: url("../img/mail.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    top: 59px;
    right: 18px;
  }
}

.form__box {
  display: flex;
  flex-direction: column;
  border: none;
  margin-bottom: 22px;

  @media (max-width: variables.$tablet-width) {
    @include form-padding-20;
    margin-bottom: 0;
  }
}

.form__box--name {
  margin-bottom: 64px;

  @media (min-width: variables.$tablet-width) {
    margin-right: 33px;
    margin-bottom: 43px;
    border-bottom: none;
    padding-left: 60px;
    padding-top: 10px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 342px;
    border: 1px solid #dbdbdb;

    @media (max-width: variables.$tablet-width) {
      border-bottom: none;
      display: none;
    }

    @media (min-width: variables.$desktop-width) {
      left: 51%;
    }
  }

  @media (min-width: variables.$desktop-width) {
    padding-left: 120px;
    margin-right: 38px;
    margin-bottom: 51px;
  }
}

.form__box--contacts {
  padding-bottom: 32px;
  border-bottom: 1px solid #dbdbdb;

  @media (min-width: variables.$tablet-width) {
    margin-left: 36px;
    border-bottom: none;
    padding-right: 60px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-left: 70px;
    padding-right: 117px;
  }
}

.form__feeling {
  @include form-margin-padding;

  display: grid;
  border: none;
  margin: 24px 0 49px;
  padding: 0 20px;

  @media (min-width: variables.$tablet-width) {
    @include form-padding-20;

    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/-1;
    margin-bottom: 73px;
    border-bottom: none;
    border-top: 1px solid #dbdbdb;
    padding: 0 95px 0 95px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 104px 0 174px;
    margin-bottom: 96px;
  }
}

.form__places {
  @include form-margin-padding;
  @include form-padding-20;

  display: grid;
  border: none;
  padding-bottom: 21px;
  border-bottom: 1px solid #dbdbdb;

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/-1;
    margin-bottom: 34px;
    border-bottom: none;
    border-top: 1px solid #dbdbdb;
    padding: 0 114px 0 143px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 118px 0 166px;
    margin-bottom: 74px;
  }
}

.form__emotions {
  @include form-padding-20;

  margin: 0 auto;
  border: none;
  margin-bottom: -8px;
  margin-top: 24px;
  width: 100%;

  @media (min-width: variables.$tablet-width) {
    grid-column: 1/-1;
    border-top: 1px solid #dbdbdb;
    padding-left: 11px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-left: 20px;
  }
}

.form__textarea {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  height: 116px;
  width: 100%;
  margin: 0;
  border: none;
  outline: none;
  background-color: #f2f2f2;
  margin-top: 17px;
  margin-bottom: 52px;
  padding: 16px;

  &:focus {
    outline: 4px solid #e5e5e5;
  }


  @media (min-width: variables.$tablet-width) {
    width: 640px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 127px;
    margin-bottom: 47px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 768px;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
}

.form__legend {
  @include form-margin-padding;

  @media (min-width: variables.$tablet-width) {
    text-align: end;
    margin-top: 23px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-top: 24px;
  }
}

.form__input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: none;
  outline: none;
  background-color: #f2f2f2;
  padding: 16px;

  &:hover {
    color: #000000;
    background-color: #e5e5e5;
  }

  &:focus {
    background: #ffffff;
    outline: none;
    box-shadow: inset 0 0 0 4px #e5e5e5;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
}

.form__control {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 25px 26px 11px 63px;
}

.form__control--radio::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.form__control--radio:focus::before {
  outline: 4px solid #e5e5e5;
}

.form__control--radio:hover::before {
  background-color: #e5e5e5;
}

.form__control--radio:active::before {
  background-color: #d5d5d5;
}

.form__control--radio::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 46px;
  height: 46px;
  background-image: url("../img/radio.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.form__control--radio:active::after {
  opacity: 0.3;
}

.form__radio:checked + .form__control--radio::after {
  display: block;
}

.form__radio:focus + .form__control--radio::before {
  outline: 4px solid #dbdbdb;
}

.form__control--chekbox::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.form__control--chekbox:focus::before {
  outline: 4px solid #e5e5e5;
}

.form__control--chekbox:hover::before {
  background-color: #e5e5e5;
}

.form__control--chekbox:active::before {
  background-color: #d5d5d5;
}

.form__control--chekbox::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 46px;
  height: 46px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.form__control--chekbox:active::after {
  opacity: 0.3;
}

.form__chekbox:checked + .form__control--chekbox::after {
  display: block;
}

.form__chekbox:focus + .form__control--chekbox::before {
  outline: 4px solid #dbdbdb;
}

.form__button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  text-transform: uppercase;
  border: none;
  padding: 16px 49px;

  &:focus {
    outline: 4px solid #dbdbdb;
  }

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 16px 71px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 16px 101px;
  }
}

.form__button-text {
  &:active {
    opacity: 0.3;
  }
}

.form__wrapper {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 71px 0 50px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 236px 0 196px;
  }
}

.form__comment {
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);

  @media (min-width: variables.$tablet-width) {
    font-size: 14px;
  }
}
