@use "./variables.scss";

@mixin form-margin-padding {
  margin: 0;
  padding: 0;
}

.form__subtitle {
  text-transform: uppercase;
  padding-left: 16px;
}

.form__box {
  display: flex;
  flex-direction: column;
  border: none;
  margin-bottom: 49px;

  @include form-margin-padding;
}

.form__feeling {
  border: none;
  margin-bottom: 49px;

  @include form-margin-padding;
}

.form__places {
  border: none;
  margin-bottom: 49px;

  @include form-margin-padding;
}

.form__emotions {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  text-transform: uppercase;
}

.form__textarea {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  height: 150px;
  width: 100%;
  margin: 0;
  border: none;
  background-color: #f2f2f2;
  margin-top: 20px;
  margin-bottom: 56px;
  padding: 16px;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
}

.form__input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: none;
  background-color: #f2f2f2;
  padding: 16px;

  &:hover {
    color: #000000;
    background-color: #e5e5e5;
    border: none;
  }

  &:active {
    background: #ffffff;
    outline: 4px solid #e5e5e5;
    border: none;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
}

.form__control {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  text-transform: uppercase;
  border: none;
  padding: 16px 48px;
}

.form__comment {
  color: rgba(51, 51, 51, 0.6);
}
