.fotogallery {

}

.fotogallery__text {
  display: block;
  text-align: center;
  padding: 37px 20px 25px;
}

.fotogallery__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.fotogallery__discription {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
