@use "./variables.scss";

.fotogallery {
  @media (min-width: variables.$tablet-width) {
    width: 648px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 1200px;
  }
}

.fotogallery__text {
  display: block;
  text-align: center;
  padding: 37px 20px 25px;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    width: 458px;
    margin: 0 auto;
  }
}

.fotogallery__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: variables.$tablet-width) {
    font-size: 30px;
  }
}

.fotogallery__discription {
  margin: 0;
}

.fotogallery__wrapper {
  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: 400px 400px;
  }
}
