@use "./variables.scss";

.intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 18px;
}

.intro::before {
  content: "";
  position: absolute;
  background-image: url("../img/intro-line.svg");
  background-repeat: repeat;
  width: 600.9px;
  height: 56px;
  bottom: 0;
  left: 50%;
}

.intro::after {
  content: "";
  position: absolute;
  background-image: url("../img/intro-line.svg");
  background-repeat: repeat;
  transform: scaleX(-1);
  width: 606.9px;
  height: 57px;
  bottom: -1px;
  right: 50%;
}

.intro--index {
  background-color: #81b3d2;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  padding: 91px 0 84px;

  @media (min-width: variables.$tablet-width) {
    background-image: url("../img/back-desktop.jpg");
    padding: 77px 0 90px;
    background-position: 50% 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }

  @media (min-width: variables.$desktop-width) {
    padding-bottom: 94px;
  }
}

.intro--next-page {
  background: #81b3d2;
  background-image: url("../img/back-desktop.jpg");
  background-repeat: no-repeat;
  background-position: 40% -350px;
  height: 158px;

  @media (min-width: variables.$tablet-width) {
    height: 290px;
    background-position: 50% -218px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }

  @media (min-width: variables.$desktop-width) {
    height: 301px;
  }
}

.intro__text {
  position: relative;
  width: 88%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;

  @media (min-width: variables.$tablet-width) {
    width: 60%;
  }

  @media (min-width: variables.$desktop-width) {
    width: 38%;
  }
}

.intro__text--secong-page {
  width: 81%;
  top: 10px;
  object-fit: contain;

  @media (min-width: variables.$tablet-width) {
    width: 62%;
    top: 18px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 39%;
    top: 21px;
  }
}
