@use "./variables.scss";

.intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 18px;
}

.intro--index {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: variables.$tablet-width) {
    background-image: url("../img/back-desktop.jpg");
    padding-top: 77px;
  }
}

.intro--form {
  background-image: url("../img/background.jpg");
  background-repeat: repeat;
  background-position: center;
  padding: 0 20px;
}

.intro--catalog {
  background-image: url("../img/background.jpg");
  background-repeat: repeat;
  background-position: center;
  padding: 0 20px;
}

.intro__welcome-text {
  height: 59vh;
  width: 100%;
}

.intro__slogan {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 35px;
  text-transform: uppercase;
  background-color: #ffffff;
}

.intro__discription {
  margin: 0;
  padding-bottom: 16px;
  text-transform: uppercase;
  background-color: #ffffff;
}
