@use "./variables.scss";

.intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 18px;
}

.intro--index {
  background: #81b3d2;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% -65px;
  padding-top: 90px;
  height: 389px;

  @media (min-width: variables.$tablet-width) {
    background-image: url("../img/back-desktop.jpg");
    background-size: cover;
    padding-top: 77px;
    background-position: 50% 0;
    height: 518px;
  }
}

.intro--form {
  background: #81b3d2;
  background-image: url("../img/back-desktop.jpg");
  background-repeat: no-repeat;
  background-position: 50% -218px;
  height: 158px;

  @media (min-width: variables.$tablet-width) {
    height: 223px;
  }

  @media (min-width: variables.$desktop-width) {
    height: 301px;
  }
}

.intro--catalog {
  background: #81b3d2;
  background-image: url("../img/back-desktop.jpg");
  background-repeat: no-repeat;
  background-position: 50% -218px;
  height: 158px;

  @media (min-width: variables.$tablet-width) {
    height: 223px;
  }

  @media (min-width: variables.$desktop-width) {
    height: 301px;
  }
}

.intro__text {
  height: 59vh;
  width: 88%; /*не нравится что получается при 700px*/
  margin-left: auto;
  margin-right: auto;

  @media (min-width: variables.$tablet-width) {
    width: 60%;
  }

  @media (min-width: variables.$desktop-width) {
    width: 38%;
    height: 77%;
  }
}

.intro__text--secong-page {
  width: 71%;
}
