@use "./variables.scss";

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    transform: translateX(-45%);
  }
}

.logo--nav-open {
  display: none;
}
