@use "./variables.scss";

.main__slogan {
  padding: 34px 24px 33px;
  text-align: center;
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    padding: 49px 50px 52px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 59px 0 43px;
    width: 600px;
  }
}

.main__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 38px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    font-size: 30px;
  }
}

.main__title--larger {
  @media (max-width: variables.$tablet-width) {
    font-size: 21px;
    margin-bottom: 21px;
  }

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 33px;
  }
}

.main__title--slogan {
  font-size: 18px;
  margin-bottom: 36px;

  @media (min-width: variables.$tablet-width) {
    font-size: 21px;
    margin-bottom: 28px;
    margin-right: 4px;
  }

  @media (min-width: variables.$desktop-width) {
    line-height: 27px;
  }
}

.main__title--form {
  @media (min-width: variables.$tablet-width) {
    grid-column: 1/-1;
    margin-bottom: 38px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 58px;
  }
}

.main__discription {
  margin: 0;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    line-height: 24px;
  }
}

.main__discription--hotel {
  margin-bottom: 48px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 53px;
    line-height: 22px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 58px;
  }
}

.main__discription br {
  @media (max-width: variables.$tablet-width) {
    display: none;
  }
}
