@use "./variables.scss";

.main__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding-bottom: 20px;
  margin: 0;
  text-transform: uppercase;
}

.main__discription {
  margin: 0;
}
