@use "./variables.scss";

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  width: 100%;

  &--error {
    height: 280px;
    margin-top: 116px;
    padding-bottom: 35px;

    @media (min-width: variables.$tablet-width) {
      width: 400px;
      min-height: 347px;
      margin: auto;
    }
  }

  &--accepted {
    height: 323px;
    margin-top: 402px;

    @media (min-width: variables.$tablet-width) {
      width: 640px;
      min-height: 347px;
      margin: auto;
    }
  }
}

.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__container--closed {
  display: none;
}

.modal__container--open {
  display: flex;
}

.modal__text {
  padding: 45px 42px 0 41px;

  &--sent {
    padding: 39px 39px 30px 37px;

    @media (min-width: variables.$tablet-width) {
      padding: 51px 99px 30px 97px;
    }
  }
}

.modal__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: variables.$tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }
}

.modal__discription {
  font-size: 14px;
  margin: 0;
  margin-bottom: 28px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 50px;
  }
}

.modal__button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  background-color: #81b3d2;
  text-transform: uppercase;
  border: none;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  &--ok {
    padding: 18px 64px 14px 63px;

    @media (min-width: variables.$tablet-width) {
      padding: 18px 108px 14px 107px;
    }
  }

  &--closed {
    padding: 18px 62px 14px 60px;

    @media (min-width: variables.$tablet-width) {
      padding: 18px 140px 14px 139px;
    }
  }
}

.modal__text-button {
  color: #ffffff;

  &:active {
    background-color: #5496bd;
    opacity: 0.3;
  }
}

.modal__border {
  background-color: #f2f2f2;
  padding: 20px 0;
  width: 100%;

  @media (min-width: variables.$tablet-width) {
    padding: 44px 0;
    width: 100%;
  }
}
