@use "./variables.scss";

nav {
  min-height: 56px;
  background-color: #ffffff;
}

.nav__list {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 56px;
  background-color: #81b3d2;

  @media (min-width: variables.$tablet-width) {
    position: static;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #ffffff;
    box-shadow: none;
  }
}

.nav__list--closed {
  @media (max-width: variables.$tablet-width) {
    display: none;
  }
}

.nav__list::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  height: 7px;
  width: 100%;
  box-shadow: 0, 1px rgba(255, 255, 255, 0.2);
}

.nav__item {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  list-style: none;
  text-transform: uppercase;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;

  @media (min-width: variables.$tablet-width) {
    font-size: 14px;
    line-height: 21px;
    border: none;
    width: 20%;
  }
}

.nav__item--foto {
  @media (min-width: variables.$tablet-width) {
    margin-right: 20%;
  }
}

.nav__item:last-child {
  @media (max-width: variables.$tablet-width) {
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% 7px;
    background-image: linear-gradient(
                        180deg,
                        fade-out(#000000, 1) 0%,
                        fade-out(#000000, 0.8) 100%);
    box-shadow: inset 0 1px 0 fade-out(#ffffff, 0.8);
    border-bottom: none;
  }
}

.nav__link {
  display: flex;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  padding: 17px 70px 12px;

  @media (max-width: variables.$tablet-width) {
    &:hover {
      background-color: #669ec0;
    }

    &:active {
      background-color: #5496bd;
    }

    &:disabled {
      background-color: #f5f5f5;
    }
  }

  @media (min-width: variables.$tablet-width) {
    color: #000000;
    padding: 18px 0 17px;

    &:hover {
      color: #766357;
    }
  }
}

.nav__link span {
  @media (max-width: variables.$tablet-width) {
    &:active {
      opacity: 0.3;
    }
  }
}

.nav__toggle {
  content: "";
  position: absolute;
  top: 17px;
  right: 20px;
  background-color: #ffffff;
  width: 23px;
  height: 22px;
  margin-bottom: 17px;
  background-repeat: no-repeat;
  border: none;
  z-index: 2;
  cursor: pointer;

  &:hover::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }

  &:hover::after {
    opacity: 0.6;
  }

  &:active::after {
    opacity: 0.3;
  }

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}

.nav--closed .nav__toggle::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-nav.svg");
  width: 23px;
  height: 22px;
  top: 0;
  right: 0;
}

.nav--open .nav__toggle::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-close.svg");
  background-color: #81b3d2;
  z-index: 2;
  top: 0;
  right: 0;
  width: 100%;
  height: 22px;
}


.nav--nojs {
  position: static;
}
