@use "./variables.scss";

.review {
  display: flex;
  text-align: center;
  flex-direction: column;
  text-transform: uppercase;
  padding: 36px 20px 28px;

  @media (min-width: variables.$tablet-width) {
    width: 434px;
    margin: 0 auto;
  }
}
